In [1]:
print("welcome kerolos")

welcome kerolos

In [2]:
print('welcome kerolos')

welcome kerolos

In [3]:
mystr='hello'
mynum=16
print(mystr)
print(mynum)

hello
16

In [4]:
mystr='hello'
mynum=16
mystr=10
print(mystr)
print(mynum)

10
16

In [5]:
mystr

10

In [6]:
mystr
mynum

16

In [7]:
mynum
mystr

10

In [8]:
print(mystr)
print(mynum)

10
16

In [9]:
numofapples= 5
if numofapples<1:
    print('You have no apples')
elif numofapples==1:
     print('You have one apple')
elif numofapples<4:
      print('You have afew apple')
else:
     print('You have many apple')

You have many apple

In [10]:
numofapples= 3
if numofapples<1:
    print('You have no apples')
elif numofapples==1:
     print('You have one apple')
elif numofapples<4:
      print('You have afew apple')
else:
     print('You have many apple')

You have afew apple

In [11]:
mylist=['Alice', 'Bob', 'Carol', 'Dave']
print(mylist[1])

Bob

In [12]:
mylist[0]

'Alice'

In [13]:
mylist[-1]

'Dave'

In [14]:
mylist[0:2]

['Alice', 'Bob']

In [15]:
mylist[1:3]

['Bob', 'Carol']

In [16]:
mylist[2:]

['Carol', 'Dave']

In [17]:
mylist[:2]

['Alice', 'Bob']

In [18]:
mylist.append('last item')
mylist

['Alice', 'Bob', 'Carol', 'Dave', 'last item']

In [19]:
mylist.insert(2,'between')
mylist

['Alice', 'Bob', 'between', 'Carol', 'Dave', 'last item']

In [20]:
del mylist[2]
mylist

['Alice', 'Bob', 'Carol', 'Dave', 'last item']

In [21]:
del mylist[-1]
mylist

['Alice', 'Bob', 'Carol', 'Dave']

In [22]:
mylist.insert(2,'repeat')
mylist.append('repeat')
mylist

['Alice', 'Bob', 'repeat', 'Carol', 'Dave', 'repeat']

In [23]:
del mylist[2]

In [24]:
mylist

['Alice', 'Bob', 'Carol', 'Dave', 'repeat']

In [25]:
for mylist in st_name:
    print('welcome'+st_name+'!')

NameError: name 'st_name' is not defined

In [26]:
for st_name in mylist:
    print('welcome '+ st_name+'!')

welcomeAlice!
welcomeBob!
welcomeCarol!
welcomeDave!
welcomerepeat!

In [27]:
for st_name in mylist:
    print('welcome '+ st_name+'!')

welcome Alice!
welcome Bob!
welcome Carol!
welcome Dave!
welcome repeat!

In [28]:
long=[]
for st_name in mylist:
    if len(st_name)>4:
        long.append(st_name)
long

['Alice', 'Carol', 'repeat']

In [29]:
print(len(mylist[0]))

5

In [30]:
for st_name in mylist:
    print(len(st_name))

5
3
5
4
6

In [31]:
print(len(mylist))

5

In [32]:
print(len(mylist[1]))

3

In [33]:
mylist=['Alice', 'Bob', 'Carol', 'Dave']
newlist=[]
for st_name0 in mylist:
    for st_name1 in mylist:
        newlist.append((st_name0,st_name1)
        )
newlist

[('Alice', 'Alice'),
 ('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Bob'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Carol'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol'),
 ('Dave', 'Dave')]

In [39]:
mylist=['Alice', 'Bob', 'Carol', 'Dave']
newlist=[]
for st_name0 in mylist:
    for st_name1 in mylist:
        if st_name1==st_name0:
            print(st_name0)
        else:    
            newlist.append((st_name0,st_name1)
        )
newlist

Alice
Bob
Carol
Dave

[('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol')]

In [40]:
mylist=['Alice', 'Bob', 'Carol', 'Dave']
newlist=[]
for st_name0 in mylist:
    for st_name1 in mylist:
        if st_name1!=st_name0:
              
            newlist.append((st_name0,st_name1)
        )
newlist

[('Alice', 'Bob'),
 ('Alice', 'Carol'),
 ('Alice', 'Dave'),
 ('Bob', 'Alice'),
 ('Bob', 'Carol'),
 ('Bob', 'Dave'),
 ('Carol', 'Alice'),
 ('Carol', 'Bob'),
 ('Carol', 'Dave'),
 ('Dave', 'Alice'),
 ('Dave', 'Bob'),
 ('Dave', 'Carol')]

In [41]:
mylist.append('kerolos nady')

In [42]:
mylist

['Alice', 'Bob', 'Carol', 'Dave', 'kerolos nady']

In [43]:
mytuple=('Alice', 'Bob', 'Carol')
mytuple[1]

'Bob'

In [44]:
mytuple.append('kero')

AttributeError: 'tuple' object has no attribute 'append'

In [45]:
del mytuple[1]

TypeError: 'tuple' object doesn't support item deletion

In [49]:
kero1,kero2,kero3=mytuple
print(kero1)
print(kero2)
print(kero3)

Alice
Bob
Carol

In [53]:
kero1,kero3=mytuple
print(kero1)
print(kero3)

ValueError: too many values to unpack (expected 2)

In [60]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]
for st_name,subj,st_grade in student_grades:
    if st_grade.startswith('A'):
        print('congra ' + st_name +' because you getting '+ st_grade +' in ' +subj)

congra Alice because you getting A in Spanish
congra Dave because you getting A- in Italian

In [61]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]
for st_name,subj,st_grade in student_grades:
    if st_grade=='A':
        print('congra ' + st_name +' because you getting '+ st_grade +' in ' +subj)

congra Alice because you getting A in Spanish

In [65]:
nationality={
    'kero':'Egyptian',
     'Bob': 'French',
    'Carol': 'Italian',
    'Dave': 'Italian',
}

In [66]:
nationality['kero']

'Egyptian'

In [67]:
nationality['kero33']

KeyError: 'kero33'

In [68]:
'kero33' in nationality

False

In [69]:
'Dave' in nationality

True

In [70]:
nationality['bebo']='French'
nationality

{'kero': 'Egyptian',
 'Bob': 'French',
 'Carol': 'Italian',
 'Dave': 'Italian',
 'bebo': 'French'}

In [72]:
del nationality['Carol']
nationality

{'kero': 'Egyptian', 'Bob': 'French', 'Dave': 'Italian', 'bebo': 'French'}

In [73]:
for key in nationality :
    value=nationality[key]
    print('te key is ' + key + 'the value is ' + value)

te key is kerothe value is Egyptian
te key is Bobthe value is French
te key is Davethe value is Italian
te key is bebothe value is French

In [75]:
for key,value in nationality.items():
    print('te key is ' + key + 'the value is ' + value)

te key is kerothe value is Egyptian
te key is Bobthe value is French
te key is Davethe value is Italian
te key is bebothe value is French

In [76]:
student_grades = [
    ('Alice', 'Spanish', 'A'),
    ('Bob', 'French', 'C'),
    ('Carol', 'Italian', 'B+'),
    ('Dave', 'Italian', 'A-'),
]

In [77]:
student_grades[1]

('Bob', 'French', 'C')

In [78]:
student_grades[1][2]

'C'

In [79]:
student_grade_records = []
for student_name, subject, grade in student_grades:
    record = {
        'name': student_name,
        'subject': subject,
        'grade': grade,
    }
    student_grade_records.append(record)
    
student_grade_records

[{'name': 'Alice', 'subject': 'Spanish', 'grade': 'A'},
 {'name': 'Bob', 'subject': 'French', 'grade': 'C'},
 {'name': 'Carol', 'subject': 'Italian', 'grade': 'B+'},
 {'name': 'Dave', 'subject': 'Italian', 'grade': 'A-'}]